
* {
	box-sizing: border-box;
    width: auto;
}

.slds-grid{
	padding-left: 60px !important;
	width: 640px !important;
}
.slds-modal__content{
	margin: 0 auto !important;
	width: 640px !important;
}

.space1{
	margin: 10px;
}
